*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
    font-family: "titilium web", sans-serif;

}

:root{
    --gray-800: #1e293b
    --gray-600:#475569;
}

header{
    background-image: url(imagens/filtro\ \(1\).png);
    background-size: cover;
    height: 8.375rem;
    display: flex;
    justify-content: center;
align-items: center ;
margin-bottom: 3.7rem;
}
  
main{
    padding-inline: 1.5rem;
}

.descriçao{
    margin-bottom: 2.5rem;
}

.descriçao h1{
color: var(--gray-800);
margin-bottom: 1rem;
font-size: 1.565rem;
}

.descriçao p{
    font-size: 0.8158rem;
    color: var(--gray-600);
}

;